DATABASE_URL="postgresql://user:password@host.neon.tech/docs?sslmode=require"
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
JWT_ACCESS_SECRET="change-this-access-secret"
JWT_REFRESH_SECRET="change-this-refresh-secret"
ADMIN_EMAIL="admin@docs.vn"
ADMIN_PASSWORD="Admin@123456"
ADMIN_NAME="System Admin"
PORT=3000

# local | external
AUTH_PROVIDER="external"
EXTERNAL_AUTH_BASE_URL="https://dev.vwork.vfast.dev"
EXTERNAL_AUTH_API_KEY=""
